extends layoutAdmin

block content
    .content
        // START JUMBOTRON
        //.jumbotron(data-pages='parallax')
        .container-fluid.container-fixed-lg.sm-p-l-0.sm-p-r-0
            .inner
        // END JUMBOTRON
        // START CONTAINER FLUID
        <div class = "bg-color-container4">
            <!-- START card -->
            <div class="card card-transparent">
              <div class="card-header ">                
                <h5 class="card-title">#{page.name}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Situation Status here</h6>
              </div>

                <div class="clearfix"></div>
              </div>
              <div class="card-block">
                    form#form-situation-edit(role='form', method="POST", action='../account/edit')
                        <input type="hidden" name="account_id" value= #{data.statushold.account_id}>
                        .row
                            .col-sm-6
                                .form-group.required 
                                    label.control-label Username
                                    input#name.form-control(type='text', name='un', placeholder='Change title', required='', value= data.statushold.un)
                        .row
                            .col-sm-6
                                .form-group.required 
                                    label.control-label Name
                                    input#name.form-control(type='text', name='name', placeholder='Change name', required='', value= data.statushold.name )

                        .row
                            .col-sm-6
                                .form-group.required 
                                    label.control-label Email
                                    input#name.form-control(type='text', name='email', placeholder='Change content', required='', value= data.statushold.email )
                        .row
                            .col-sm-6
                                .form-group.required 
                                    label.control-label Contact Number
                                    input#name.form-control(type='text', name='contact_no', placeholder='Change contactno', required='', value= data.statushold.contact_no)
                        .row
                            .col-sm-6
                                .form-group.required 
                                    label.control-label Role
                                    select.full-width.select2-hidden-accessible(name = "role_name",data-init-plugin='select2', tabindex='-1', aria-hidden='true', placeholder='select Role' )
                                            
                                                each row in data.arr
                                                    if(row.role_name ==data.role_name)
                                                        option(value=row.role_name , selected="selected") #{row.role_name}
        
                                                    else
                                                        option(value=row.role_name) #{row.role_name}
                        

                        .row.align-items-end
                            .text-right.col-sm-12 

                            div
                                a.button.btn.btn(href='../account/') Cancel
                            div
                                a
                                    button.btn.btn-success(type='submit', style='margin-left: 39%;') Update

                                
                        

                            
                        
                                    
              </div>
            </div>
            <!-- END card -->
        </div>

