extends layoutAdmin

mixin row(data)
    td.v-align-middle
        p #{data.reportid}
    td.v-align-middle
        p #{data.title}
    td.v-align-middle
        p #{data.location} 
    td.v-align-middle
        p #{data.type_name} 
    td.v-align-middle
        p #{data.timereported}
    td.v-align-middle
        p #{data.assistance_name}   
    td.v-align-middle
        p #{data.agency_name}   
    
    
  
    //- td.v-align-middle
    //-     if(data.status == 1)
    //-         p ACTIVE 
    //-     else
    //-         p NON-ACTIVE 
      
block content
 
    .content
    
        // START JUMBOTRON
        //.jumbotron(data-pages='parallax')
        .container-fluid.container-fixed-lg.sm-p-l-0.sm-p-r-0
            .inner
        // END JUMBOTRON
        // START CONTAINER FLUID
        br
        br
        <div class = "bg-color-container3">
            <!-- START card -->
            <div class="card card-transparent">
                <div class="card-header ">
                    <h5 class="card-title">#{page.name}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Services Rendered Archive</h6>
                    

                    //- <div class="card-title">SITUATION LIST </div>
                    //- <div class="clearfix"></div>
                </div>
                <div class="card-block">
                    <div id="tableWithSearch_wrapper" class="dataTables_wrapper no-footer">
                        <table class="table table-hover demo-table-search table-responsive-block dataTable no-footer" id="tableWithSearch" role="grid" aria-describedby="tableWithSearch_info">
                            thead
                                tr(role='row')
                                    th.sorting_asc(tabindex='0', aria-controls='tableWithSearch', rowspan='1', colspan='1', aria-sort='ascending', aria-label='Title: activate to sort column descending') Assistance Rendered ID
                                    th.sorting(tabindex='0', aria-controls='tableWithSearch', rowspan='1', colspan='1', aria-label='Last Update: activate to sort column ascending', ) Title
                                    th.sorting(tabindex='0', aria-controls='tableWithSearch', rowspan='1', colspan='1', aria-label='Last Update: activate to sort column ascending', ) Location
                                    th.sorting(tabindex='0', aria-controls='tableWithSearch', rowspan='1', colspan='1', aria-label='Last Update: activate to sort column ascending', ) Type of Incident
                                    th.sorting(tabindex='0', aria-controls='tableWithSearch', rowspan='1', colspan='1', aria-label='Last Update: activate to sort column ascending', ) Request Dispatched at
                                    th.sorting(tabindex='0', aria-controls='tableWithSearch', rowspan='1', colspan='1', aria-label='Last Update: activate to sort column ascending', ) Assistance Rendered
                                    th.sorting(tabindex='0', aria-controls='tableWithSearch', rowspan='1', colspan='1', aria-label='Last Update: activate to sort column ascending', ) Handled By
                                    
                            tbody
                                -var length = 1;
                                each row in page.data
                                    if (length % 2==0)
                                        tr.odd(role='row')
                                            +row(row)   
                                        
                                    else
                                        tr.even(role='row')
                                            +row(row)
                        </table>   
                    </div>  
                                      
                </div>
 
            </div>
            <!-- END card -->
        </div>